body {
    padding: 0;
    margin: 0;
}

#app {
    height: 100vh;
    width: 100vw;
    padding: 50px;
    margin: 0;
    background: #111;
    box-sizing: border-box;
}
#app.current-player .board {
    border: 1px solid green;
}

.board {
    display: grid;
    height: calc(100% - 100px);
    background: #222;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.gate-container {
    position: relative;
}
.gate-container:not(.taken) {
    cursor: pointer;
}
.gate-container:hover {
    background: rgba(0, 0, 0, 0.1);
}
/* posts */
.show-posts .gate-container:before,
.show-posts .gate-container:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: white;
    z-index: 2;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
    border: 2px solid #222;
}
/* bottom-left */
.gate-container.bltr:before {
    bottom: -8px;
    left: -8px;
}
/* top-right */
.gate-container.bltr:after {
    top: -8px;
    right: -8px;
}
/* top-left */
.gate-container.tlbr:before {
    top: -8px;
    left: -8px;
}
/* bottom-right */
.gate-container.tlbr:after {
    bottom: -8px;
    right: -8px;
}

.gate {
    width: 4px;
    background: transparent;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    transition: background 0.25s;
    z-index: 1;
    border-radius: 50px;
    border: 2px solid #222;
}
.gate-container.tlbr .gate {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.turn-0 .gate-container:not(.taken):hover .gate {
    background: #69D2E7;
    opacity: 0.5;
}
.turn-1 .gate-container:not(.taken):hover .gate {
    background: #FA6900;
    opacity: 0.5;
}
.turn-2 .gate-container:not(.taken):hover .gate {
    background: #E0E4CC;
    opacity: 0.5;
}
.turn-3 .gate-container:not(.taken):hover .gate {
    background: #A7DBD8;
    opacity: 0.5;
}
.turn-4 .gate-container:not(.taken):hover .gate {
    background: #F38630;
    opacity: 0.5;
}

.gate-container .fill {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid transparent;
    animation: fade-in 0.25s;
}
.gate-container .fill.tl {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 100% 0%);
}
.gate-container .fill.tr {
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 100% 0%);
}
.gate-container .fill.br {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 100% 0%);
}
.gate-container .fill.bl {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 0%);
}

.gate-container.player-0 .gate,
.fill-0.fill {
    background: #69D2E7;
    opacity: 1;
}
.gate-container.player-1 .gate,
.fill-1.fill {
    background: #FA6900;
    opacity: 1;
}
.gate-container.player-2 .gate,
.fill-2.fill {
    background: #A7DBD8;
    opacity: 1;
}
.gate-container.player-3 .gate,
.fill-3.fill {
    background: #E0E4CC;
    opacity: 1;
}
.gate-container.player-4 .gate,
.fill-4.fill {
    background: #F38630;
    opacity: 1;
}

.toggle-posts {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;
    font-family: 'Nunito', sans-serif;
    border: 2px solid white;
    margin: 10px;
    text-align: right;
    cursor: pointer;
    border-radius: 5px;
}

.scoreboard {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: white;
    font-family: 'Nunito', sans-serif;
    border: 2px solid white;
    margin: 10px;
    text-align: right;
    border-radius: 5px;
}
.scoreboard span {
    font-weight: bold;
}
#score-0 {
    color: #69D2E7;
}
#score-1 {
    color: #FA6900;
}
#score-2 {
    color: #A7DBD8;
}
#score-3 {
    color: #E0E4CC;
}
#score-4 {
    color: #F38630;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

/** MENU UI **/
.menu-container {
    background: white;
    padding: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 300px;
}
.menu-container label {

}
.menu-container input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #222;
    font-size: 1.2em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.menu-container .btn {
    padding: 12px;
    border: 2px solid #222;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
}
.menu-container .local-game {
    color: #69D2E7;
    border-color: #69D2E7;
}
.menu-container .local-game:hover {
    background: #69D2E7;
    color: white;
}
.menu-container .online-game {
    color: #FA6900;
    border-color: #FA6900;
}
.menu-container .online-game:hover {
    background: #FA6900;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

ul li a {
    text-decoration: none;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #222;
    display: inline-block;
    width: 150px;
    margin-top: 10px;
    font-family: 'Menlo', 'Monaco', monospace;
}

ul li a:hover {
    background: #222;
    color: white;
}