$overflow: 21%;
$inset: 40%;

.grid {
  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  border-radius: 16px;
  border: 4px solid transparent;
  transition: 0.25s;

  @media (min-width: 780px) {
    height: 400px;
    width: 400px;
  }

  @media (min-width: 1080px) {
    height: 500px;
    width: 500px;
  }

  @media (min-width: 1280px) {
    height: 700px;
    width: 700px;
  }

  @media (min-width: 1480px) {
    height: 900px;
    width: 900px;
  }

  &.active {
    background-color: white;
    border-color: #eee;

    .vertical:not(.gate-filled),
    .horizontal:not(.gate-filled) {
      &:hover {
        cursor: pointer;

        .gate {
          box-shadow: 0 0 0 4px #999;
        }
      }

      &:active .gate {
        transform: translateY(2px);
      }
    }
  }
}

.row {
  flex: 1;
  display: flex;
  justify-content: stretch;

  &:nth-child(even) {
    flex: 2;
  }
}

.cell {
  flex: 1;
  position: relative;

  &:nth-child(even) {
    flex: 2;
  }
}

.gate {
  z-index: 1;
  position: absolute;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: #eee;
  box-shadow: 0 0 0 0 #999;
  transition: 0.1s;
}

:root .gate-filled .gate {
  z-index: 2;
  border-color: transparent;
  box-shadow: 0 0 0 2px white;
}

:root .hide-top-border {
  border-top-color: transparent;

  &.hide-bottom-border {
    border-color: transparent;
  }
}

.vertical .gate {
  top: -$overflow;
  height: 100% + $overflow * 2;
  left: $inset;
  width: 100% - $inset * 2;
}

.horizontal .gate {
  top: $inset;
  height: 100% - $inset * 2;
  left: -$overflow;
  width: 100% + $overflow * 2;
}

.filled-paddock {
  position: absolute;
  left: -25%;
  top: -25%;
  width: 150%;
  height: 150%;
  z-index: 0;
  border-width: 2px;
  border-style: solid;
  //   border-radius: 8px;

  &.round-top-right {
    border-top-right-radius: 8px;
  }

  &.round-top-left {
    border-top-left-radius: 8px;
  }

  &.round-bottom-right {
    border-bottom-right-radius: 8px;
  }

  &.round-bottom-left {
    border-bottom-left-radius: 8px;
  }
}

.hidden {
  opacity: 0;
}
