$colors: orange blue green pink red lime purple cyan;

@each $color in $colors {
  .#{'' + $color} {
    --sp-color: var(--#{$color});
    --sp-color-light: var(--#{$color}-light);
    --sp-color-dark: var(--#{$color}-dark);
  }
}
